@use 'src/styles/vars' as v;

.messages {
  padding: v.$gutter * 2;
  background-color: #fff;
  overflow: auto;
}

.message {
  &__author {
    font-size: 0.8em;
    margin-bottom: v.$gutter;
    margin-left: v.$gutter;
    padding: v.$gutter / 1.5;
    color: #fff;
    background-color: v.$color-primary;
    width: 120px;
    border-radius: 50px 50px 50px 0;
    box-shadow: -3px 7px 9px 0px rgb(213, 213, 213);
  }
  &__content {
    animation: pop .5s cubic-bezier(0,0,.58,1);
    background-color: #fff;
    padding: v.$gutter;
    border-radius: 4px 20px 20px 20px;
    box-shadow: -3px 5px 20px -1px rgb(213, 213, 213);
    color: v.$color-alt;
    display: inline-block;
    min-width: 150px;
    margin-bottom: 2rem;
  }
}

@keyframes pop {
  from {
    transform: scale(0);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}