@use 'src/styles/vars' as v;

.form {
  display: flex;
  &__input {
    flex: 1;
    padding: v.$gutter;
    font-size: 1.5em;
    border: none;
    &::placeholder {
      opacity: 0.6;
    }
  }
  &__button {
    width: 100px; 
    border: none;
  }
}
