@use 'src/styles/vars' as v;

.form {
  display: flex;
  &__input {
    padding: v.$gutter;
    flex: 1;
    font-size: 1.5em;
    border: none;
    border-radius: 20px 0 0 20px;
    background-color: v.$color-input;
    &::placeholder {
      opacity: .6;
    }
  }
  &__button {
    border: none;
    width: 100px;
    border-radius: 0 20px 20px 0;
  }
}
